body {
  height: 100%;
  /* min-height:400px; */
  background-size: cover;
  background-image: url(/starter-code/assets/technology/background-technology-desktop.jpg);
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;

}

.container {
  position: relative;
  margin: 20px;

}

.navbar {
  margin-top: 3%;
  color: #fff;
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(0.5px);
}

.nav-blur {
  background-color: rgba(228, 196, 196, 0.397);
  /* color: #fff; */
}

.nav-blur {
  background-color: rgba(228, 196, 196, 0.397);
  /* color: #fff; */
}




/* navigation bar target */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;

}


/* infomation section */

.information-section {

  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 10% 6%;
  color: #fff;
}

h1 {
  font-size: 4.5rem;
  font-weight: bold;

}

h2 {
  font-size: 1.5rem;
}

.info-div {
  line-height: 1.2rem;
  text-align: left;
  padding-top: 5%;
  font-size: 4.5rem;
  line-height: 2rem;

}

.download-button {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 20px;
  font-size: 32px;
  margin: 16% 44%;



}

p {
  font-size: 1.5rem;
  line-height: 2.2rem;
}


@media screen and (max-width:600px) {

  
  h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    /* margin-left: 24%; */
  
  
  }
  h3{
    /* margin-left:45px; */
    text-align: center;
  
   }
  h2{
    font-size: 1rem;
    padding: 2% 5%;
    margin-bottom: 3.5rem;
    text-align: center;
  }
  p{
    font-size: 1rem;
    /* text-align: center; */
    margin: 14% -16% 5% 2%;
    padding-right: 3%;
  }

  .rocket-img{
    height: 100%;
    width: 100%;
  }
}  